/* malinacss:C:/Users/yulmizar/Documents/GIT/000/malina-X04-UWS/src/App.malina.css */
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: system-ui;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: red;
}
img {
  display: block;
  width: 200px;
  margin: 60px auto;
  transition: 0.2s;
}
h1,
div {
  text-align: center;
  min-width: 300px;
  margin: 40px auto;
}
input {
  font-size: 24px;
}
